<h1>We have received your password reset request. Please visit the following <a href="<%= url %>">link</a> to reset your password.</h1>
<i style="color: red; font-size: 16px;"><b>Have a nice day!</b></i>
